@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;0,800;1,200;1,300;1,400;1,600;1,700&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style-type: none;
}

body{
    /*background-image: linear-gradient(to left,rgb(43, 43, 123),rgb(170, 160, 160));*/
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    background-color: #f2f2f2;
}


.container{
    display: flex;
}

button{
    cursor: pointer;
}

.container .sub1{
    width: 400px;
    background-color: aqua;
    padding: 20px;
}

.container .sub2{
    background-color: white;
    padding: 20px;

}
.container .sub2 .box{
    margin: 30px 10px;
}
.container .sub2 input{
    width: 100%;
    cursor: pointer;
    padding: 5px;
}

.container .sub2 input[type="submit"]{
    cursor: pointer;
}