@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;0,800;1,200;1,300;1,400;1,600;1,700&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style-type: none;
}

body{
    /*background-image: linear-gradient(to left,rgb(43, 43, 123),rgb(170, 160, 160));*/
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.container{
    width: 420px;
    /*box-shadow: 0 1px 5px black;*/
    padding: 20px;
    border-radius: 15px;
}

.container .box{
    margin: 10px 0;
}
.container .box input,select{
    width: 100% ;
    padding: 10px;
    text-align: center;
    border: none;
    border-bottom: 1px solid black;
    outline-color: aqua;
    font-size: 15px;
}

.container .box input::placeholder{
    font-size: 17px;
    color: #bdbdbd;
}

.container .box label{
    color: black;
}
h1
.container h1{
    text-align: center;
    border-bottom: 1px solid black;
    color: black;

}

.container .box1 input{
    width: 100%;
    padding: 15px;
    cursor: pointer;
    border: none;
    border-radius: 7px;
    background-color: black;
    color: white;
}



.container .box1 input:hover{
    background-color: aqua;
    color: white ;
    scale: 1;
    transition: .1s;
}



.container p{
    margin-top: 10px;
    color: black;
}
.container a{
    color: black;
}

.container a:hover{
    color: red;
}
.erreur{
    backdrop-filter: blur(100px);
    box-shadow: 0 1px 5px black;
    color: black;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.ensemble{
    display: flex;
    flex-direction: column;
    max-width: 900px;
    
    padding: 70px;
    border-radius: 10px;
}

.ensemble .cont img{
    margin-top: 60px;
    width: 100%;
}
.ensemble .contU{
    display: flex;
}

.ensemble h1{
    margin-bottom: 50px;
    border-bottom: 1px solid black;
    text-align: center;
}
.ensemble h1 i {
    margin-right: 10px;
}
@media screen and (max-width : 900px) {
    *{
        font-size: 13px;
    }.container{
        width: 300px;
    }

    .container p{
        font-size: 11px;
    }
    .container .box input::placeholder{
        font-size: 14px;
        color: black;
    }
    .ensemble img{
        display: none;
    }
    .ensemble h1{
        font-size: 25px;
    }
    .ensemble h1 i{
        font-size: 20px ;
    }
    .ensemble form p{
        font-size: 10px;
    }
}
